name: Metrics

on:
  schedule:
    - cron: "0 9 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment:
      name: production
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: OpenVoxProject
          output_action: pull-request
          filename: profile/github-metrics.svg
          plugin_languages: yes
          plugin_followup: yes
          plugin_rss: yes
          plugin_rss_source: https://dev.to/feed/tag/voxpupuli
